body {
    font-family: sans-serif;
    padding: 20px;
}

h1 {
    color: darkblue;
}

.dice-area {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}